@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.footer {
    transform: translateX(-50%);
    font-size: 18px;
    background-color: "";
    color: whitesmoke;
}

.toggler-icon {
    background-color: #5e17eb;
    color: whitesmoke;

}

.toggler-items {
    background-color: #5e17eb;
    width:fit-content;
    border-radius: 2dvw;
}