.logo{
    justify-content: left;
}

.links {
    justify-content: flex-end;
    color:white;
}

.navlink {
    color:whitesmoke !important;
}

.navbar a.nav-link:hover,
.navbar a.nav-link:focus,
.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus  {
    color: #ff914d;
}

.navbar {
    background-color:#5e17eb;
}

a.nav-link{
    color:whitesmoke;
    font-size: xx-large;
}

a.navbar-brand{
    color:whitesmoke;
    font-size: 50px;
}

