.home {
    display:flex;
}

.mission-statement {
    margin-left: 8dvw;
    margin-top: 25dvh;
}

.home-title {
    font-size: 70px;
    color:white;
}

.logo-mission {
    color:white;
    font-size:20px
}

.move-image {
    animation: moveImage 30s linear infinite;
    height: 50dvw;
    margin-top: 18dvh;
    margin-right: 15dvw;
}

@keyframes moveImage {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(30%) translateY(-20%);
    }
    50% {
        transform: translateX(0) translateY(0);
    }
    75% {
        transform: translateX(30%) translateY(-20%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
 
