.home{
    display:flex;
}

.logo-mission {
    display:flex;
    flex-direction:column;
    padding-left:11vw;
    padding-top:12vw;
}

.title{
    font-size: 9vw;
    color:white;
}

.mission{
    color:white;
    font-size:3vw
}

@keyframes moveImage {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(30%) translateY(-20%);
    }
    50% {
      transform: translateX(0) translateY(0);
    }
    75% {
      transform: translateX(30%) translateY(-20%);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  
  .move-image {
    animation: moveImage 30s linear infinite;
    height: 50vw;
    padding-top: 20vh;
  }
  
