.travelogue-cont {
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 5rem;
}

.travelogue {
    font-size: 2rem;
}

.travelogue-image {
    width: 80vw;
    object-fit: contain;
}

.travelogue-card {
    width: 80vw;
}

.travelogue-card-subtitle {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.travelogue-btn-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-details {
    background-color: #8c52ff;
    color: #f0e9ff;
    border: none;
    padding: 8px 16px;
    transition: transform 0.3s ease;
}

.btn-details:hover {
    transform: translateY(-2px);
    background-color: #5e17eb;
    color: #fff;
}


