.signup-statement {
    display: flex;
    margin-top: 3dvh;
    margin-left: 3dvh;
    width: 100%; 
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}
  
.signup-title {
    background-color: var(--indigo);
    color: whitesmoke;
    font-size: 30px;
    width: fit-content ;
    padding: 2dvw;
    margin-right: 2dvw;
    border-radius: 5dvw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
.banner {
    font-size: 60px;
    color: white;
}
  
form:not(.no-touchy) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; 
}
  
label:not(.no-touchy) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color:white;
    font-size:16px;
}
  
input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px; 
    background-color: var(--purple);
    color: white;
}
  
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: var(--indigo);
}
  
input[type="submit"] {
    background-color: #5bc0de;
    color: white;
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    cursor: pointer;
}

.submit-signup {
    color:white;
    font-size:25px;
    border-radius: 25px;
    width: fit-content;
}

.login-link {
    font-size:18px;
    color:whitesmoke;
}