.btn-details__edit {
    background-color: var(--indigo);
    color: var(--white);
    border: none;
    padding: 8px 16px;
    transition: transform 0.3s ease;
}

.btn-details__edit:hover {
    transform: translateY(-2px);
    background-color: var(--purple);
    color: var(--white);
}

.btn-details__delete {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 8px 16px;
    transition: transform 0.3s ease;
}

.btn-details__delete:hover {
    transform: translateY(-2px);
    background-color: var(--red);
    color: var(--white);
}